*{margin: 0;padding: 0;box-sizing: border-box;}
form{
  background-color: #b0c348;
  padding: 10px;
  width: 300px;
  color: #555;
  border-radius: 5px;
  margin: 0 auto;
}
fieldset{
  border: none;
  margin: 5px 0;
}
fieldset legend{
  font-weight: bold;
  margin-bottom: 5px;
}
label{
  display: block;
  background-color: #ffffff71;
  margin: 4px 0;
  padding: 4px;
  border: 2px solid #fff;
  overflow: auto;
  border-radius: 5px;
  font-size: 0.9em;
}
label input,
label textarea{
  border: none;
  width: 60%;
  float: right;
  border-radius: 3px;
  padding: 3px;

}
input.iradio{
  width: auto;
  float: none;
}
#submit{
  background-color: #4a531e;
  color: #fff;
  padding: 5px 25px;
  border: none;
  border-radius: 30px;
  display: block;
  margin: 2px auto;
}